html {
    font-size: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* make the image full-width and respect the aspect-ratio */
.hero {
    max-width: 100%;
    height: auto;
}

/* add whitespace to the left and right of the main element */

/*
    Shorthand reference:

    padding: all; 
    padding: t+b l+r;
    padding: t l+r b;
    padding: t r b l;
*/

main section,
main footer {
    padding: 1rem 2rem 2rem;
}

section:nth-child(2n) {
    background-color: paleturquoise;
}

footer {
    text-align: center;
    background-color: rgb(255, 255, 154);
}

